@tile_size: 40px;
*{
    body{
        margin: 0px;

        #world_container{
            #world{
                border-spacing: 0px;

                .row{
                    display: block;

                    td{
                        // border: 2px solid #b1d5f1;
                        height: @tile_size;
                        width: @tile_size;
                    }

                    .soil{
                        background-color: #a18e7f;
                    }

                    .water{
                        background-color: #cadef9;                        
                    }

                    .grass{
                        background-color: #65be84;
                    }

                    img{
                        align-items: center;
                        display: flex;
                        height: 30px;
                        justify-content: center;
                        margin: 0px auto;
                        width: 30px;
                    }

                    .disabled{
                        opacity: 0.5;
                    }
                }            
            }   
        }

        #controls_container{
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;

            >div{
                margin-right: -20px;

                h3{
                    margin: 0px;
                }

                p{
                    margin: 10px 0px;
                }

                #life_points{
                    span{
                        color: #65be84;
                    }
                }

                .orange{
                    color: #e1b222 !important;
                }

                .red{
                    color: #dd3f34 !important;
                }
            }

            #tower_buttons{
                margin-right: 80px;

                .tower{
                    background-color: transparent;
                    cursor: pointer;
                    height: 40px;
                    padding: 0px;
                    width: 40px;
    
                    img{
                        align-items: center;
                        display: flex;
                        height: 30px;
                        justify-content: center;
                        margin: 0px auto;
                        width: 30px;
                    }
                }
            }
    
            #start_wave{
                background-color: #2b78e4;
                box-shadow: 1px solid #000000;
                color: white;
                font-size: 20px;
                height: 50px;
                padding: 10px;
            }

            .active{
                background-color: #2b78e4 !important;
            }

            .disabled{
                background-color: transparent !important;
                opacity: 0.5;
            }
        }

        .normal_bug{
            background: url("../images/normal-bug.png");
            background-size: cover;
            height: 40px;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 40px;
        }

        .elite_bug{
            background: url("../images/elite-bug.png");
            background-size: cover;
            height: 40px;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 40px;
        }

        .right_front_bug{
            transform: rotate(0.25turn);
        }

        .modal{
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
            height: 100%;
            left: 0;
            padding-top: 100px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;

            .modal_content{
                background-color: #fefefe;
                border: 2px solid #000000 !important;
                height: fit-content;
                margin: auto;
                width: 40%;

                .modal_header{
                    border-bottom: 2px solid #000000;
                    
                    h5{
                        margin: 0px;
                    }
                }

                .modal_body{
                    padding: 20px;
                    text-align: center;

                    h1, h2, h3{
                        margin: 0px 0px 15px 0px;
                    }

                    button{
                        background-color: #009e0f;
                        color: #ffffff;
                        padding: 5px 20px;
                    }
                }
            }
        }

        .unhide{
            display: block !important;
            
        }
    }
}