*{

    body{
        #container{
            #world{
                border-spacing: 0px;

                .row{
                    display: block;

                    td{
                        border: 2px solid #b1d5f1;
                        height: 40px;
                        width: 40px;
                    }

                    .soil{
                        background-color: #a18e7f;
                    }

                    .water{
                        background-color: #cadef9;                        
                    }

                    .grass{
                        background-color: #65be84;
                    }
                }            
            }   
        }

        #tower{
            button{
                cursor: pointer;
                height: 40px;
                padding: 0px;
                width: 40px;

                img{
                    align-items: center;
                    display: flex;
                    height: 30px;
                    justify-content: center;
                    margin: 0px auto;
                    width: 30px;
                }
            }
        }

        #start_wave{
            background-color: #2b78e4;
            box-shadow: 1px solid #000000;
            color: white;
            font-size: 20px;
            margin-top: 10px;
            padding: 10px;
        }
    }
}