* body #container #world {
  border-spacing: 0px;
}
* body #container #world .row {
  display: block;
}
* body #container #world .row td {
  border: 2px solid #b1d5f1;
  height: 40px;
  width: 40px;
}
* body #container #world .row .soil {
  background-color: #a18e7f;
}
* body #container #world .row .water {
  background-color: #cadef9;
}
* body #container #world .row .grass {
  background-color: #65be84;
}
* body #tower button {
  cursor: pointer;
  height: 40px;
  padding: 0px;
  width: 40px;
}
* body #tower button img {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 0px auto;
  width: 30px;
}
* body #start_wave {
  background-color: #2b78e4;
  box-shadow: 1px solid #000000;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}
